body{
    font-family: Literata, serif;
    font-weight: 400;
    color:black;
}
/* css header*/
.logo{
    text-align: center;
}
.textLogo{
    width: 500px;
}
.btn-primary{
    background-color: black;
    border-color: transparent;
    border-radius: 3px;
    font-size: 16px;
}
.btn-primary:focus, .btn-primary:active{
    background-color: red !important;
    box-shadow: red;
    border-color: red !important;
}
.btn-primary:hover{
    background-color: red;
    border-color: red;
}
h5{
    font-style: italic;
    font-size: 18px;
    color: black;
}
.modal-content>*{
    text-align: center;
}
#subscribe\ button{
    background-color: red;
    color: white;
    border-color: transparent;
}
.modal-header{
    background-color: #052c65;
    color: white;
}
.modal-title{
    text-align: center;
    margin: auto;
}
a, .btn-link{
    color: gray;
    text-decoration: none;
}
.btn-link:focus, .btn-link:active{
    color: red;!important;
    box-shadow: none;
    background-color: transparent;!important;
}
#emailIcon, #emailIcon2{
    font-size: 36px;
    color: gray;
}
.Icon2{
    margin-right: 8px;
    margin-left: 8px;
}
.Icon{
    border-color: transparent;
    background-color: transparent;
    width: 50px;
    position: relative;
    bottom: -8px;
}
/*css navbar*/
.navbar-toggler-icon {
    background-image: none;
}
.nav-item .btn-primary{
    padding: 8px;
}
.nav-item .btn-link{
    padding: 8px;
    border-radius: 1px;
    font-size: 16px;
}
.bg-danger{
    background-color: #a9091f !important;
}
.navbar{
    --bs-navbar-padding-x: none;
}
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}
.navbar-toggler:focus, .navbar-toggler:active{
    box-shadow: none;
    background-color: transparent;!important;
}

.dropdown-item:hover{
    background-color: red;
    border-color: red;
    color: white;
}
.navbar .btn.dropdown-toggle {
    color: white;
}
.navbar .nav-link{
    color: white;
}
.offcanvas{
    background-color: #a9091f;
}
#closeButtonLeft{
    position: absolute;
    top: 8px;
    left: 0;
    padding: .5rem;
}
.btn-link:hover{
    color: red;
}
.show-on-scroll {
    display: none;
}
.show-on-scroll .btn-link{
    background-color: white;
}
.show-on-scroll .btn-link:hover{
    color: gray;
}
.show-on-scroll .btn-primary:hover{
    background-color: black;
}

.form-control{
    height: 36px;
    padding: 2px 40px 4px 16px;
    border-radius: 36px;
    width: 100%;
    border: 1px solid #aaa;
    color: #222;
}
.btn-outline-success {
   line-height: 36px;
    right: 0;
    top: 0;
    position: absolute;
    appearance: none;
    margin: 0;
    background: transparent;
    border: 0;
    padding: 0 20px 0 0;
    outline: none;
    color: black;
}
button.btn.btn-outline-success:active,
button.btn.btn-outline-success:focus {
    background-color: transparent !important;
    box-shadow: none;
    color: #842029;
}
.btn-outline-success:hover{
    background-color: transparent;
    color: #842029;
}
.offcanvas-body .btn-outline {
    background-color: transparent;
    border-color: transparent;
    margin-top: 5px;
    color: white;
}
.offcanvas-body .btn-outline:active, .offcanvas-body .btn-outline:focus{
    background-color: transparent;
    border-color: transparent;
    color: white;
}
.zoneButton{
    border-bottom-color: white;
}
.searchContainer{
    width: 100%;
}
form{
    position: relative;
}
.offcanvas-body{
     margin-left: 20px;
 }
.offcanvas-body .listaBottoniCollaspe .zoneButton{
    border-bottom: 1px solid white;
}
.offcanvas-body .listaBottoniCollaspe .zoneButton .card{
    background-color: transparent;
    border-color: transparent;
}
.offcanvas-body .listaBottoniCollaspe .zoneButton .card a{
    color: white;
}
.navbar-toggler, .brandZone{
    float: left;
}
.navbar-brand, .navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active{
    color: white;
}
#closeButtonRight, #closeButtonRight:hover{
    background-color: transparent;
    border-color: transparent;
}
#offcanvasRight{
    width: 250px;
}
#offcanvas{
 width: 350px;
}
.loginSection .ButtonPlace .btn-outline{
    border-color: rgba(255, 255, 255, 0.6);
    width: 100%;
}
.loginSection .ButtonPlace .btn-outline:hover{
    border-color: white;
    color: white;
}
.offcanvas-body .linkSection .linkSpace{
    width: 100%;
    margin: 16px 0;
}
.linkSection .linkSpace{
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 8px;
    color: white;
}
.linkSection .linkSpace:hover{
    border-bottom-color: white;
}
.linkSection .linkSpace a{
    color: white;
}
/*Podcast*/
.PodcastSection{
    background-color: #e8eaed;
}
.articleTitle, .imagePlace{
    display: inline-block;
}
.podcastItem span{
    display: block;
    color: gray;
}
.podcastContainer{
    width: 1200px;
}
.podcastItem{
    padding: 10px;
}
.articleTitle{
    position: relative;
    top: 10px;
}
.articleTitle a{
    color: black;
}
/*Trending*/
.topics{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 200px;
}
.topics>*{
    display: inline;
}
.topics .trendingElement{
    padding: 0 5px;
    border-left: 1px solid #222;
}
.topics #noBorder {
    border-left: 0;
}
.trendingElement a{
    color: black;
}
.trendingElement a:hover{
    text-decoration: underline;
    text-decoration-style: solid;
}
/*Main*/
#centralColumn{
    border-left: 3px solid #e8eaed;
    border-right: 3px solid #e8eaed;
}
.detailsNews, .detailsQuiz, .detailsReaction, .detailsSpot, .detailsOpinion, .detailsStory, .detailsMyTimes, .detailsCulture, .detailsThreat, .detailsPolitics, .detailsHigh, .detailsCampaign, .detailsDive, .detailsNational, .detailsWorld, .detailsSport, .detailsPodcast, .detailsSponsor{
    padding: 10px;
}
.detailsNews h6 a:hover, .detailsQuiz h6 a:hover, .detailsStory h6 a:hover, .detailsCulture h6 a:hover, .detailsThreat h6 a:hover, .detailsPolitics h6 a:hover, .detailsHigh h6 a:hover, .detailsCampaign h6 a:hover, .detailsDive h6 a:hover, .detailsNational h6 a:hover, .detailsWorld h6 a:hover, .detailsSport h6 a:hover, .detailsPodcast h6 a:hover, .detailsSponsor h6 a:hover, .detailsMoreStories h6 a:hover, .blockContent a:hover{
    color: darkred;
}
.detailsNews h6 a, .detailsQuiz h6 a, .reactionItem h6 a , .detailsSpot h6 a, .detailsOpinion h6 a, .detailsStory h6 a, .detailsMyTimes h6 a, .detailsCulture h6 a, .detailsThreat h6 a, .detailsPolitics h6 a, .detailsHigh h6 a, .detailsCampaign h6 a, .detailsDive h6 a, .detailsNational h6 a, .detailsWorld h6 a, .detailsSport h6 a, .detailsPodcast h6 a, .detailsSponsor h6 a, .detailsMoreStories h6 a{
    color: black;
}
.detailsPodcast h6 a{
    font-weight: 700;
}
.breakingNews, .Quiz{
    margin-bottom: 16px;
}
.breakingNewsBlock, .byTheNumbersBlock{
    margin-bottom: 50px;
}
.mostPopularBlock{
    margin-bottom: 13px;
}
.blockTitle{
    background-image: linear-gradient(90deg, #9ea7b3 30%, #fff);
    text-shadow: 0 0 9px rgba(0, 0, 0, .4);
    color: #fff;
    border-bottom: 0;
    padding: 4px 12px;
    margin: 0 0 16px;
    font-size: 20px;
}
 .blockContent .storyItem{
    margin: 2rem 0;
}
.storyItem-headline{
    margin-top: 0;
    margin-bottom: 0;
}
 .blockContent a{
    font-size: 16px;
    color: black;
}
.byTheNumbersBlock .blockImage p, .videoContent .videoSection p {
    text-align:end;
    font-size: 13px;
    font-weight: 700;
}
.byTheNumbersBlock .blockImage p a, .videoContent .videoSection p a{
    color: black;
    padding-right: 5px;
}
.byTheNumbersBlock .blockImage p a:hover, .videoContent .videoSection p a:hover{
    text-decoration: underline;
}
.itemTitle{
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 700;
}
.itemTitle a{
    color: darkred;
}
.socialPlace .title{
    margin-right: auto;
}
.socialPlace{
    font-size: 18px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: end;
    gap: 8px;
}
.socialPlace:after .related:after{
    content: "";
    display: table;
    clear: both;
}
.socialPlace a{
    float: right;
    margin-right: 6px;
}
.rightColumn .searchContainer .btn-outline-success{
    padding: 0 16px 0 0;
}
.videoSection{
    margin-top: 12px;
}
.videoSection p{
    text-align: right;
}
.blockTitle a{
    color: #fff;
}
.blockTitle a:hover{
    text-decoration: white underline;
}
.articleHead{
    font-size: 18px;
    border-bottom: 1px solid #e8eaed;
    margin-bottom: 8px;
}
.leadStory .articleHead{
    font-size: 28px;
    font-weight: 700;
}
.articleHead a, .storyDetails p a{
    color: black;
}
.articleHead a:hover, .storyDetails p a:hover{
    color: darkred;
}
.storyDetails p{
    font-weight: 700;
}
.commentaryItem{
    margin-bottom: 25px;
}
.information{
    font-size: 14px;
    display: block;
    text-align: right;
    padding: 0 0 16px;
    margin-top: 8px;
    color: black;
}
.information:hover{
    color: #842029;
}
.commentaryContainer, .mediaSpotlightPlace, .cartoonPlace, .polPlace{
    margin-bottom: 30px;
}
.detailsReaction span a, .detailsSpot span a, .detailsOpinion span a, .meta span a, .relatedItems ul li a, .detailsStory span a, .detailsCulture span a , .detailsThreat span a, .detailsPolitics span a, .detailsHigh span a, .detailsCampaign span a, .detailsNational span a, .detailsWorld span a, .detailsSport span a, .detailsMoreStories span a{
    color: #0d6efd;
}
.reactionItem, .spotItem, .opinionItem, .topStoryItem {
    margin-bottom: 40px;
}
.homeOpinionZone{
    margin-bottom: 80px;
}
.polContent h3{
    font-size: 18px;
    color: black;
    font-weight: 700;
}
.polContent form{
    margin-left: 30px;
}
.polContent form .form-check .form-check-input{
    width: 0.75rem;
    height: 0.75rem;
}
.polContent form button{
    height: 32px;
    padding: 0 24px;
    margin: 5px 0 20px;
    background-color: #a9091f;
    font-weight: 600;
    font-size: 16px;
}
.polContent form button:hover{
    background-color: #a9091f;
    border-color: #a9091f;
}
.polContent form a{
    color: #0d6efd;
    font-size: 14px;
}
.polContent form a:hover{
    text-decoration: underline #0d6efd;
}
.photoGalleryPlace p a{
    font-size: 14px;
    color: black;
    font-weight: 700;
}
.photoGalleryPlace p a:hover{
    text-decoration: underline;
}
.photoGalleryPlace  p{
    color: #842029;
    font-size: 10px;
    font-weight: 500;
}
.photoGalleryPlace{
    margin-bottom: 80px;
}
.paperDetails .itemTitle a{
    color: black;
}
.paperDetails .itemTitle a:hover{
    color: #842029;
}
.mainContent{
   border-bottom:  3px solid #e8eaed;
}
.leadStory{
    border-bottom: 1px solid #e8eaed;
    margin-bottom: 16px;
}
.leadStory .articleHead{
    font-size: 28px;
    margin-bottom: 1rem;
    margin-top: 0;
    border-bottom: none;
}
.premiumTag, .exclusiveTag, .newsletterTag, .commentaryTag{
    font-size: 10px;
    color: #fff;
    font-weight: 700;
    line-height: 1.3em;
    padding: 3px 5px;
    background-color: #a9091f;
}
.storyTag{
    margin: 0;
    padding: 0;
}
.meta{
    font-style: normal;
    font-weight: 400;
    color: #555f6d;
    margin: 8px 0;
    font-size: 13px;
}
.meta span a:hover, .relatedItems ul li a:hover, .detailsStory span a:hover, .detailsCulture span a:hover, .detailsThreat span a:hover, .detailsPolitics span a:hover, .detailsHigh span a:hover, .detailsCampaign span a:hover, .detailsNational span a:hover, .detailsWorld span a:hover, .detailsSport span a:hover, .detailsMoreStories span a:hover{
    color: #555f6d;
    text-decoration: underline #555f6d;
}
.leadStory .articleText .text p{
    font-size: 16px;
    color: #3e3e3e;
    margin: 0 0 1.6em;

}
.related h5{
    font-weight: 400;
    width: 65px;
    color: #5b5b5b;
    margin: 0;
    padding-right: 10px;
    font-size: 14px;
}
.relatedItems{
    border-left: 1px solid #e8eaed;
    padding-left: 10px;
}
.relatedItems ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.relatedItems ul li {
    margin-left: 0;
    margin-bottom: 12px;
    padding-left: 20px;
}
.exclusiveTag{
    background-color: #004999;
}
.newsletterTag{
    background-color: black;
}
.commentaryTag{
    background-color: gray;
}
.topStoryItem{
    margin-bottom: 0;
    border-bottom: 1px solid #e8eaed;
    padding-bottom: 30px;
    padding-top: 16px;
}
.top-news:last-child{
    margin-bottom: 0;
}
.top-news{
    border-bottom: 5px solid #e8eaed;
}
.sectionTitle{
    margin-top: 20px;
    border-bottom: #842029 solid 1px;
    position: relative;
    margin-bottom: 16px;
}
.sectionTitle span{
    position: absolute;
    top: 0;
    right: 0;
}
.sectionTitle h4 a{
    color: #b00021;
    font-size: 18px;
    font-weight: 700;
}
.sectionTitle h4 a:last-child{
    color: black;
}
.detailsMyTimes h6 a:hover{
    text-decoration: underline;
}
.myTimesBody .row{
    margin-bottom: 12px;
}
.myTimesSection{
    border-bottom: 5px solid #e8eaed;;
}
.first h6{
    font-weight: 700;
    font-size: 20px;
}
.cultureArticle, .threatArticle, .politicsArticle, .highArticle, .campaignArticle, .diveDeeperArticle, .nationalArticle, .worldArticle, .sportArticle, .podcastArticle, .moreStoriesArticle{
    border-bottom: 1px solid #e8eaed;
    padding-bottom: 25px;
    margin-bottom: 0;
    padding-top: 16px;
}
.last{
    border-bottom: none;
}
.threatStatusSection .sectionTitle, .higherGroundSection .sectionTitle{
    border-bottom: #054f65 solid 1px;
    margin-bottom: 0;
}
.threatStatusSection .sectionTitle h4 a{
    font-size: 25px;
    color: #052c65;
}
.threatStatusSection .sectionTitle h4 a:last-child{
    color: white;
    background-color: darkred;
    font-weight: 700;
    padding-right: 8px;
}
.threatStatusSection .bodyInformation, .higherGroundSection .bodyInformation{
    background-color: #eaf0f3;
}
.higherGroundSection .sectionTitle h4 a{
    color: #0a53be;
    font-size: 30px;
}
.spotItem, .reactionItem{
    padding-bottom: 16px;
}
.sponsoredContentSection .sectionTitle{
    margin-bottom: 8px;
}
.sponsorArticle .articleTitle h6{
    color: darkred;
    padding-bottom: 3px;
    font-weight: 700;
    text-transform: uppercase;
}
#preFooter{
    padding: 20px 0 8px;
}
.header{
    margin: 15px 0 10px;
}
.preFooterHeading{
    background-image: linear-gradient(90deg, #9ea7b3, #fff);
    text-shadow: 0 0 9px rgba(0, 0, 0, .4);
    color: #fff;
    font-size: 20px;
    height: 47px;
    line-height: 47px;
    padding-left: 92px;
    position: relative;
}
.preFooterHeading img{
    position: absolute;
    left: 10px;
    top: -15px;
}
.fitText{
    font-size: 18px;
    margin-top: 0;
    text-transform: uppercase;
}
/*preFooter*/
#preFooter .leadStory{
    border-top: none;
    margin-top: 0;
    border-bottom: 1px solid #e8eaed;
}
#preFooter .leadStory h4{
    font-size: 14px;
    font-weight: 700;
}
#preFooter h4 a, #preFooter h3 a{
    color: black;
}
#preFooter article{
    margin-top: 16px;
}
#preFooter h4 {
    font-size: 14px;
    font-weight: 400;
}
#preFooter section {
    overflow: hidden;
}
#preFooter h4 a:hover, #preFooter h3 a:hover{
    text-decoration: underline;
}
.content .row{
    margin-bottom: 25px;
}
.content{
    padding-top: 16px;
}
#facebook, #instagram, #rss, #twitter{
    color: gray;
    font-size: 30px;
}
#facebook:hover{
    color: blue;
}
#instagram:hover{
    color: #6f42c1;
}
#rss:hover{
    color: orange;
}
#twitter:hover{
    color: #0dcaf0;
}
.fa-search:hover{
    color: darkred;
}
aside{
    display: block;
    height: 100%;
    padding-bottom: 20px;
}
.audioSection, .latestQuizBlock{
    position: sticky;
    top: 42px;
    margin: 0;
    z-index: 1;
}
/*Footer*/
#footer{
    border-top: 1px solid #dde0e4;
    background-color: #e8eaed;
    padding-bottom: 16px
}
#contactLinks{
    padding-top: 30px;
}
#footer section{
    margin-bottom: 20px;
    padding-left: 30px;
}
section h3, .contentSection h3 a{
    color: #b00021;
    font-size: 18px;
    line-height: 1.33em;
    margin: 0
}
.contentSection h3 a:hover{
    text-decoration: underline;
}
.links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.links li{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.links a{
    color: black;
}
.links a:hover{
    text-decoration: underline;
}
.contentSection{
    margin-bottom: 30px;
}
#footerNav{
    padding: 20px 0;
    margin: 64px 0 32px;
}
#footerNav .menu {
    text-align: center;
    gap: 16px 0;
}
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li{
    display: inline-block;
}
#footerNav a{
    color: #b00021;
    font-size: 16px;
    line-height: 1;
    display: block;
    padding: 0 8px;
    font-weight: 700;
}
#footerNav a:hover{
    text-decoration: underline;
}
#copyright{
    margin: 0;
    padding: 16px 0;
    font-weight: 400;
    color: #000;
    text-align: center;
    font-size: 14px;
}
#copyright .info{
    display: block;
}
/*per lo schermo mobile*/
.articleVisibleOnlyMobile{
    background-image: url("https://placehold.co/1200x670");
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.textArticle{
    position: absolute;
    bottom: 0;
    padding-left: 8px;
}
.textArticle h2 a{
    color: white;
    font-weight: 700;
}
.metaArticle span, .metaArticle span a{
    color: white;
}
.metaArticle span a:hover{
    text-decoration: underline;
}
.articleTitle h6{
     color: darkred;
     font-weight: 700;
     font-size: 20px;
     text-transform: uppercase;
 }

